[Unit]
Description=Rust Timer to Append Message Every Minute
After=network.target

[Service]
ExecStart=/usr/bin/touch-tmp/
WorkingDirectory=/usr/bin/
Restart=always
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
